@* 继承基础布局组件 *@
@inherits LayoutComponentBase

@* 渲染子组件内容 *@
@Body

@* 未处理错误的UI显示区域 *@
<div id="blazor-error-ui">
    An unhandled error has occurred.
    @* 重新加载页面的链接 *@
    <a href="" class="reload">Reload</a>
    @* 关闭错误提示的按钮 *@
    <a class="dismiss">🗙</a>
</div>
