@* 注入主视图模型，用于处理主界面逻辑 *@
@inject MainVM MainVM

@* 通用配置页面的主容器 *@
<div class="style-div4">
    @* 顶部工具栏，使用边框样式 *@
    <div class="style-div5 sty-border1">
        @* 参数配置按钮，点击时切换到ParameterView *@
        <MyButton style="grid-column:1;" Class="style-button1" ClassChecked="style-button100" Command=@(e=>ViewSwitch.SwithNowView(nameof(ParameterView))) IsChecked=@(ViewSwitch.NowViewKey==nameof(ParameterView))>参数</MyButton>
    </div>
    @* 当前选中视图的内容显示区域，使用边框样式 *@
    <div class="style-div6 sty-border1">
        @ViewSwitch.NowView
    </div>
</div>

@* 代码部分，包含组件的逻辑实现 *@
@code {
    @* 获取视图切换器实例，用于管理不同通用配置视图的切换 *@
    private ViewSwitch<RenderFragment> ViewSwitch => MainVM.GeneralViewSwitch;
}
